.chart-btn {
    border: none;
    background: none;
    color: #C2C2C2;
    cursor: pointer;
    font-size: 16px;
}

.chart-btn:hover {
    color: #252525;
}

.chart-btn-on {
    border: none;
    background: none;
    color: #252525;
    cursor: pointer;
    font-size: 16px;
}

.chart-nav {
    display: flex;
    justify-content: center;  /* 중앙 정렬 */
    gap: 40px;  /* 버튼 사이 간격 */
    margin-top: 50px; /* 위쪽 여백 추가 */
    margin-bottom: 40px;
}

.positive {
    color: #FF5353;
}

.negative {
    color: #0080FF;
}

.chart-coin-icon {
    width: 40px;
    height: 40px;
}



.chart-coin-card-info {
    flex-grow: 1;
    margin-top: -16px;
    margin-left: 10px;
}

.chart-coin-card-name {
    font-size: 16px;
    color: #212529;
}

.chart-coin-card-symbol {
    margin-top: -15px;
    font-size: 12px;
    color: #6C757D;
}

/* 글쓰기 버튼 */
.write-btn {
    width: 75px;
    margin-left: 480px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #C2C2C2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-size: 12px;
    color: #6C757D;
    cursor: pointer;
}

.write-btn:hover {
    background-color: #f8f8f8;
}

/* 게시판 스타일 */
.content {
    max-width: 600px;
    margin: 30px auto;
}

/* 게시글 카드 스타일 */
.board {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.post-card {
    width: 480px;
    height: 80px;
    background: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    margin-bottom: 20px;
}

.post-card:hover {
    background-color: #f8f8f8;
}

.post-card-title {
    margin-top: 0;
    font-size: 14px;
    color: #212529;
}

.post-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
}

.post-author {
    color: #6C757D;
    font-size: 16px;
    font-weight: bold;
}

.post-date {
    font-size: 16px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* 연한 그리드 스타일 (C2C2C2 색상 적용) */
.grid line {
    stroke: #DDDDDD;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.candle-bar {
    transition: all 0.3s ease;
}

.candle-bar:hover {
    opacity: 0.7;
}

.hover-price {
    margin-top: -70px;
    margin-left: 50px;
    margin-bottom: -20px;
    width: 100%;
    text-align: right;
}

.hover-price-close {
    color: #252525;
}

.hover-price-date {
    margin-top: -15px;
    color: #6C757D;
}

.mini-modal-content {
    background: #FFFFFF;
    padding: 30px;
    border-radius: 8px;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}