.main-btn {
    border: none;
    background: none;
    color: #C2C2C2;
    cursor: pointer;
    font-size: 16px;
}

.main-btn:hover {
    color: #252525;
}

.main-btn-on {
    border: none;
    background: none;
    color: #252525;
    cursor: pointer;
    font-size: 16px;
}

.main-nav {
    display: flex;
    justify-content: center;  /* 중앙 정렬 */
    gap: 40px;  /* 버튼 사이 간격 */
    margin-top: 50px; /* 위쪽 여백 추가 */
    margin-bottom: 40px;
}

/* 코인 리스트 */
.content {
    max-width: 600px;
    margin: 30px auto;
}

/* 코인 카드 스타일 */
.coin-card {
    height: 72px;
    display: flex;
    align-items: center;
    background: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #FFFFFF;
    margin-bottom: 10px;
}

.coin-card:hover {
    background: #F2F2F2;
}

.coin-card-icon {
    width: 40px;
    height: 40px;
    margin-left: 12px;
    margin-right: 12px;
}

.coin-card-info {
    flex-grow: 1;
}

.coin-card-name {
    font-size: 16px;
    color: #212529;
}

.coin-card-symbol {
    margin-top: -15px;
    font-size: 12px;
    color: #6C757D;
}

.trend-graph {
    width: 50px;
    height: 20px;
}

.coin-price {
    text-align: right;
    margin-right: 15px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.positive {
    color: #FF5353;
}

.negative {
    color: #0080FF;
}

.change {
    font-size: 12px;
    margin-top: -10px;
}

/* 뉴스 카드 스타일 */
.news-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.news-card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

.news-title {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #252525
}

.news-description {
    height: 65px;
    font-size: 12px;
    color: #6C757D;
    margin-bottom: 8px;
}

.news-date {
    font-size: 16px;
    color: #C2C2C2;
    text-align: right;
    margin-bottom: 0px;
}